<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--For more information see: http://docs.nuget.org/docs/reference/nuget-config-settings -->
  <config>
    <add key="repositorypath" value="../../lib/packages" />
  </config>
  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />

    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
  </packageSources>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>